
    <div class="cover-container d-flex w-100">
        <div class="row justify-content-center w-100">
          <main role="main" class="cover pr-3 pl-3">
            <h1 class="cover-heading">WS Connect</h1>
            <p class="lead">
              Easily voice-control enable your IoT projects with WS Connect
              and <a href="https://developer.amazon.com/docs/smarthome/understand-the-smart-home-skill-api.html">Alexa Smart Home Skills</a>.
            </p>
            <p class="lead">
              <a href="#" href="https://github.com/oznu/alexa-ws-connect" class="btn btn-lg btn-dark"><i class="fab fa-github"></i> GitHub</a>&nbsp;
              <a href="#" routerLink="/about" class="btn btn-lg btn-dark">Learn more</a>
            </p>
          </main>
        </div>
    </div>