
    <div class="cover-container d-flex w-100">
        <div class="row justify-content-center w-100">
          <main role="main" class="cover pr-3 pl-3">
            <h1 class="cover-heading">WS Connect for Alexa</h1>
            <p class="lead">
              Easily voice-control enable your IoT projects with the WS Connect
              and <a href="https://developer.amazon.com/docs/smarthome/understand-the-smart-home-skill-api.html">Alexa Smart Home Skills</a>.
            </p>
            <p class="lead">
              <a href="#" routerLink="/about" class="btn btn-lg btn-secondary">Learn more</a>
            </p>
          </main>
        </div>
    </div>