<div class="row">
  <div class="col-md-12">
    <h3>About</h3>
    <p class="lead">
      Easily voice-control enable your IoT projects with WS Connect
      and <a href="https://developer.amazon.com/docs/smarthome/understand-the-smart-home-skill-api.html">Alexa Smart Home Skills</a>.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Privacy Policy</h3>
    <ul>
      <li>No information held by this sevice will be shared with 3rd parties.</li>
      <li>This service <strong>does not</strong> collect personally identifiable information such as names or email addresses.</li>
      <li>This does collect your unique Amazon ID (amzn1.account.xxxxx) for the primary purpose of providing services to you.</li>
      <li>This service does store Amazon access and refresh tokens which are required to send requests to the Amazon Alexa service on your behalf.</li>
    </ul>
  </div>
</div>